[Unit]
Description=PythonTV
After=network.target

[Service]
ExecStart=/home/pi/PythonTV/main.py
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=
WorkingDirectory=/home/pi/PythonTV

[Install]
WantedBy=multi-user.target